<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ site.name }}{% if page.title %} - {{ page.title }}{% endif %}</title>

    <link rel="stylesheet" href="{{ site.baseurl }}/css/styles.css">
    <link  rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
        <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
         </head>
  <body>
    <div id="navbar">
      <div class="wrapper">
        <span class="external"><a title="Issues" href="https://github.com/nrinaudo/scala-best-practices/issues"><i class="fa fa-bug fa-lg"></i></a></span>
        <span class="external"><a title="Github" href="https://github.com/nrinaudo/scala-best-practices"><i class="fa-brands fa-github fa-lg"></i></a></span>
        <span class="external"><a title="Twitter" href="https://twitter.com/nicolasrinaudo"><i class="fa-brands fa-twitter fa-lg"></i></a></span>
        <span class="external"><a title="Mastodon" rel="me" href="https://functional.cafe/@NicolasRinaudo"><i class="fa-brands fa-mastodon fa-lg"></i></a></span>

        <span class="internal"><a title="Home" href="{{ site.baseurl }}/">Best Practices</a></span>
        <!--<span class="internal"><a title="Home" href="{{ site.baseurl }}/"><i class="fa fa-home fa-lg"></i></a></span> -->
      </div>
    </div>
