{% for collection in site.collections %}
  {% if collection.label == page.collection %}
    {% for item in site[collection.label] %}
      {% assign prev_index = page.sequence | minus: 1 %}
      {% assign next_index = page.sequence | plus: 1 %}
      {% if item.sequence == prev_index %}
        {% assign prev = item %}
      {% endif %}
      {% if item.sequence == next_index %}
        {% assign next = item %}
      {% endif %}
    {% endfor %}
  {% endif %}
{% endfor %}

<div class="prev_next">
{% if prev %}
  <a title="Prev: {{ prev.title }}" href="{{ site.baseurl }}{{ prev.url }}"><i class="fa fa-arrow-circle-left fa-lg"></i></a>
{% else %}
  <a><i class="fa fa-arrow-circle-left fa-lg"></i></a>
{% endif %}

  <a title="Top" href="./"><i class="fa fa-arrow-circle-up fa-lg"></i></a>

{% if next %}
  <a title="Next: {{ next.title }}" href="{{ site.baseurl }}{{ next.url }}"><i class="fa fa-arrow-circle-right fa-lg"></i></a>
{% else %}
  <a><i class="fa fa-arrow-circle-right fa-lg"></i></a>
{% endif %}
</div>
