@import './inter/inter.css';
@import './fira/fira.css';
@import './fontawesome/font-awesome.css';

body {
	line-height:    1.4em;
    font:           400 16px/1.5 'Inter';
    background:     #ecf0f4;
    color:          #111111;
    margin:         0;
	padding:        0;
	border:         0;
	vertical-align: baseline;
}

.wrapper {
    max-width:     calc(800px - (30px * 2));
    margin-left:   auto;
    margin-right:  auto;
    padding-left:  30px;
    padding-right: 30px;
    padding-bottom: 100px;
}

#navbar {
    height:        25px;
    margin-bottom: 10px;
    padding-top:   15px;
    font-size:     25px;
}


#navbar span {
    display:         inline-block;
    line-height:     normal;
    vertical-align:  middle;
    float:           right;
}

#navbar span.external {
    padding-left:    30px;
}

#navbar span.internal {
    padding-right: 30px;
    float: left !important;
    font-weight: bold;
    text-transform: uppercase;
}

@media only screen and (max-width: 600px) {
    #navbar {
        font-size:     17px;
    }

    #navbar span.external {
        padding-left:    7px;
    }

    #navbar span.internal {
        padding-right: 7px;
        font-size: 16px;
    }
}


#navbar a:hover {
    color: #aaa;
}

#navbar a {
    text-decoration:    none;
    border:             none;
    color:              #111111;
}

a {
    color:           #111111;
    text-decoration: none;
    border-bottom:   1px dotted #111111;
}

a:not([href]) {
    color: #aaa;
}

.prev_next {
    text-align: center;
}

.prev_next a {
    border: none;
}

.prev_next a[href]:hover {
    color:              #586E75;
}

hr {
    border:           none;
    height:           1px;
    color:            #111111;
    background-color: #111111;
}

h1, h2 {
    color:          #111111;
    margin-bottom:  12px;
    margin-top:     48px;
    padding-bottom: 0px;
}

h3 {
    color:     #111111;
    font-size: 17px;
}

h1 {
    border-bottom:  1px solid #111111;
}

time {
    color:         #a09b96;
    padding-bottom: 200px;
    text-transform: uppercase;
}

div.title {
    margin-top:  5px;
    font-weight: bold;
}

li p {
    padding: 0;
    margin: 0;
}

pre {
    border-radius: 5px;
    font-size:   0.85em;
    overflow:    auto;
}

blockquote {
    margin:      0;
    background:  #f9f9f9;
    border-left: 10px solid #dfdedc;
    color:       #5f5e5c;
    border-top-right-radius:    5px;
    border-bottom-right-radius: 5px;
}

blockquote p {
    padding: 0.5em;
    margin:  0;
}

.figure {
    display   : block;
    text-align: center;
    background: #f9f9f9;
    padding   : 10px;
}

.figure img {
    max-width: 100%;
}

.highlight pre code {
  white-space: pre;       // forces <code> to respect <pre> formatting
}

.highlight pre, pre, .highlight .hll {
    background-color: #f8f8f8;
    padding: 6px 10px;
    border: none;
}

code {
    font-family: "Fira Mono";
}

p code, li code {
    font-size:     0.9em;
    color:         #586e75;
}

.highlight .hll { background-color: #ffffcc }
.highlight .c { color: #586E75; font-style: italic; font-weight: lighter} /* Comment */
.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .k { color: #586E75; font-weight: bold } /* Keyword */
.highlight .o { color: #586E75; font-weight: bold } /* Operator */
.highlight .cm { color: #586E75; font-style: italic; font-weight: lighter } /* Comment.Multiline */
.highlight .cp { color: #586E75; font-style: italic; font-weight: lighter } /* Comment.Preproc */
.highlight .c1 { color: #586E75; font-style: italic; font-weight: lighter } /* Comment.Single */
.highlight .cs { color: #586E75; font-style: italic; font-weight: lighter } /* Comment.Special */
.highlight .gd { color: #586E75; font-weight: bold } /* Generic.Deleted */
.highlight .ge { color: #586E75; font-style: italic } /* Generic.Emph */
.highlight .gr { color: #aa0000 } /* Generic.Error */
.highlight .gh { color: #D0DCE3 } /* Generic.Heading */
.highlight .gi { color: #586E75; background-color: #ddffdd } /* Generic.Inserted */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #555555 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #aaaaaa } /* Generic.Subheading */
.highlight .gt { color: #aa0000 } /* Generic.Traceback */
.highlight .kc { color: #586E75; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #586E75; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #586E75; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #586E75; font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { color: #586E75; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #586E75; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #D0DCE3 } /* Literal.Number */
.highlight .s { color: #586E75 } /* Literal.String */
.highlight .n { color: #586E75 }
.highlight .na { color: #586E75 } /* Name.Attribute */
.highlight .nb { color: #586E75 } /* Name.Builtin */
.highlight .nc { color: #586E75; font-weight: bold } /* Name.Class */
.highlight .no { color: #586E75 } /* Name.Constant */
.highlight .nd { color: #586E75; font-weight: bold } /* Name.Decorator */
.highlight .ni { color: #586E75 } /* Name.Entity */
.highlight .ne { color: #586E75; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #586E75; font-weight: bold } /* Name.Function */
.highlight .nl { color: #586E75; font-weight: bold } /* Name.Label */
.highlight .nn { color: #555555 } /* Name.Namespace */
.highlight .nt { color: #586E75 } /* Name.Tag */
.highlight .nv { color: #586E75 } /* Name.Variable */
.highlight .ow { color: #586E75; font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #586E75 } /* Literal.Number.Float */
.highlight .mh { color: #586E75 } /* Literal.Number.Hex */
.highlight .mi { color: #586E75 } /* Literal.Number.Integer */
.highlight .mo { color: #586E75 } /* Literal.Number.Oct */
.highlight .sb { color: #586E75 } /* Literal.String.Backtick */
.highlight .sc { color: #586E75 } /* Literal.String.Char */
.highlight .sd { color: #586E75 } /* Literal.String.Doc */
.highlight .s2 { color: #586E75 } /* Literal.String.Double */
.highlight .se { color: #586E75 } /* Literal.String.Escape */
.highlight .sh { color: #586E75 } /* Literal.String.Heredoc */
.highlight .si { color: #586E75 } /* Literal.String.Interpol */
.highlight .sx { color: #586E75 } /* Literal.String.Other */
.highlight .sr { color: #586E75 } /* Literal.String.Regex */
.highlight .s1 { color: #586E75 } /* Literal.String.Single */
.highlight .ss { color: #586E75 } /* Literal.String.Symbol */
.highlight .bp { color: #586E75 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #586E75 } /* Name.Variable.Class */
.highlight .vg { color: #586E75 } /* Name.Variable.Global */
.highlight .vi { color: #586E75 } /* Name.Variable.Instance */
.highlight .il { color: #586E75 } /* Literal.Number.Integer.Long */

table {
    border-collapse:  collapse;
    border-spacing:   0;
    border:           1px solid #111111;
    width:            100%;
}

thead th {
    background: #111111;
    color:      #ecf0f4;
}

tr td {
    padding: 5px 10px 5px 40px;
    text-align: center;
}

tr td:first-child {
    padding-left: 10px;
}

td ul {
    display: inline;
    margin:  0;
    padding: 0;
}

td ul li {
    display:    inline;
    list-style: none;
    margin:     0;
    padding:    0;
}

td ul li:after {
    content: ", ";
}

td ul li:last-child:after {
    content: "";
}
